.individual-search-results {
  clear: both;
  border: 10px;
  border-width: 1px;
  margin: 100px;
  background-color: beige;
  background-size: 200px 100px;
  border-radius: 25px;
}
.individual-search-results .button img {
  clear: both;
  height: 200px;
  width: auto;
  text-align: center;
  display: block;
  border-radius: 25px;
}

#mainLogo {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: auto;
}

.diet,
.recipeCategory,
.prepTime,
.calorie {
  text-align: center;
  display: block;
}
#search-button,
#search-box {
  text-align: center;
}

.advanced-search p {
  font-family: sans-serif;
}

#resultCount,
#ifZeroResults {
  text-align: center;
  font-size: medium;
}

.searchBar {
  text-align: center;
}

h3 {
  text-align: center;
}

.search-results {
  font-family: sans-serif;
  display: flex;
}

p,
option {
  text-align: center;
  font-family: sans-serif;
}

.modal#popup-box{
  display: block;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
}

@media (max-width: 767px) {
  /*mobile*/
  .search-results {
    /* object-fit: fill; */
    display: flex;
    overflow: auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: column wrap;
    padding: 5px 0;
  }
  .individual-search-results {
    /* clear:  both; */
    display: inline-block;
    text-align: center;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 5px 0;
  }
}

@media (min-width: 768px) {
  /*tablet*/
  .search-results {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: column wrap;
    padding: 5px 0;
  }
  .individual-search-results {
    /* clear: both; */
    display: inline-block;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: space-between;
    text-align: center;
    padding: 5px 0;
    flex: 0 0 50%;
  }
}

@media (min-width: 992px) {
  /*desktop*/
  .search-results {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
    flex-direction: row;
    padding: 5px 0;
  }
  .individual-search-results {
    clear: both;
    display: inline-block;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: space-between;
    text-align: center;
    padding: 5px 0;
    flex: 0 0 33.333333%;
  }
}
